.ml-auto {
  margin-left: auto;
}

.layout {
  margin: 1rem auto;
  padding: 0 20px;
  max-width: 100ch;
  display: grid;
  gap: 1.5rem;
  justify-items: flex-start;
}

.header--link {
  color: white;
  text-decoration: none;
  display: flex;
  gap: 5px;
}
.header--link:visited {
  color: white;
}
.header--link:hover,
.header--link:active {
  text-decoration: underline;
}

.activity--overview {
  overflow-x: auto;
  width: 100%;
}

.activity {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.time-label {
  font-size: 0.8em;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 0 5px;
  font-weight: normal;
  align-self: start;
}

.activity--header {
  display: flex;
  gap: 10px;
}

.activity--details {
  display: flex;
  width: 100%;
}

.activity--contact {
  flex-grow: 1;
}

.activity--contact-name {
  font-weight: bold;
}

.activity--ingress {
  white-space: pre-wrap;
  border-top: 1px solid #aaa;
  padding-top: 10px;
}

.activity--image {
  float: right;
  width: 120px;
  margin-left: 20px;
}

.activity--locations {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}

.activity--location {
  display: flex;
  gap: 3px;
}
