@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / 1);
}

Footer a {
  color: #fff !important;
}

.blue-link {
  text-decoration: underline;
  color: #fff;
}

.blue-link:hover {
  text-decoration: underline;
  color: rgb(34 211 238 / 1);
}

.chip-effect {
  background-color: #fff !important;
  color: rgb(15 23 42 / 1) !important;
}

.chip-effect:hover {
  background-color: #ccc !important;
  color: rgb(15 23 42 / 1) !important;
}

.navdsi-header {
  background: none !important;
}

.navdsi-header__title {
  border-right: none !important;
}

.underline-offset-4 {
  text-underline-offset: 4px;
}

.navds-table__header-cell,
.navds-table__data-cell {
  border-bottom: 1px solid #eee !important;
}

#logo {
  padding-top: 25px;
  padding-left: 15px;
  text-decoration: none;
}

#logo:hover {
  text-decoration: underline;
}

tr:hover {
  background-color: unset !important;
}

.mt-3 {
  margin-top: 0.75rem !important;
}

.items-center {
  align-items: center;
}
.inline-flex {
  display: inline-flex;
}
.-ml-1 {
  margin-left: -0.25rem;
}

.color-blue {
  color: #c2fdee;
}

.color-white {
  color: #fff;
}

.ml-auto {
  margin-left: auto;
}

.layout {
  margin: 1rem auto;
  padding: 0 20px;
  max-width: 100ch;
  display: grid;
  gap: 1.5rem;
  justify-items: flex-start;
}

.link-with-icon {
  display: flex;
  align-items: center;
  gap: 3px;
}

.header--link {
  color: white;
  text-decoration: none;
  display: flex;
  gap: 5px;
}
.header--link:visited {
  color: white;
}
.header--link:hover,
.header--link:active {
  text-decoration: underline;
}

.activity--overview {
  overflow-x: auto;
  width: 100%;
}

.activity--table {
  margin-bottom: 40px;
}

.activity {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.activity--subtext {
  display: flex;
  width: 100%;
}

.activity--datetime {
  flex-grow: 1;
}

.time-label {
  font-size: 0.8em;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 0 5px;
  font-weight: normal;
  align-self: start;
}

.activity--label-list {
  display: flex;
  gap: 10px;
}

.activity--label {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
}

.activity--header {
  display: flex;
  gap: 10px;
}

.activity--details {
  display: flex;
  width: 100%;
}

.activity--contact {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.activity--contact-name {
  font-weight: bold;
}

.activity--ingress {
  border-top: 1px solid #aaa;
  padding-top: 10px;
}

.activity--image {
  float: right;
  width: 120px;
  margin-left: 20px;
}

.activity--locations {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}

.activity--location {
  display: flex;
  gap: 3px;
}

.calendar {
  width: 100%;
}

.calendar--timeline {
  font-weight: bold;
}

.calendar--timegrid .calendar--timeline-slot {
  min-height: 100px;
}

.calendar--row {
  position: relative;
  transition: background-color ease-in 0.1s;
}

.calendar .calendar--row:hover {
  background-color: #e1e1ff;
}
.calendar--row:hover .calendar--activity {
  box-shadow: 0 0 5px rgba(5, 14, 110, 0.32);
  transition: box-shadow ease-in 0.1s;
}

.calendar--row:nth-child(even) {
  background-color: #eee;
}
.calendar--row:nth-child(odd) {
  background-color: #ddd;
}

.calendar--timeline-slot {
  display: inline-block;
  border-left: 1px solid #00000088;
  border-bottom: 1px solid #00000088;
  padding-left: 5px;
}
.calendar--timeline-slot:last-child {
  border-right: 1px solid black;
}
.calendar--timeline .calendar--timeline-slot {
  border-left: none;
  border-right: none;
}
.calendar--timeline-slot:first-child {
  border-left: none;
  border-bottom: none;
}

.calendar--room-label {
  position: absolute;
  right: calc(100% - 12.5%);
  top: 0px;
  padding: 10px;
  font-size: 0.9em;
  text-overflow: ellipsis;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-weight: bold;
  direction: rtl;
}

.calendar--activity {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 5px;
  border: 1px solid rgb(55, 55, 128);
  background-color: rgb(83, 83, 229);
  margin: 5px 0;
  min-height: 90px;
  max-height: 100px;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.calendar--activity-title {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  display: inline-block;
  font-size: 0.8em;
}

.calendar--activity-room {
  font-size: 0.8em;
  color: #ccc;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.kandidat-color {
  background-color: rgb(223, 225, 230);
}

.assess-color {
  background-color: rgb(228, 247, 250);
}

.trial-color {
  background-color: #ffeccc;
}

.adopt-color {
  background-color: rgb(214, 236, 210);
}

.hold-color {
  background-color: #ffc2c2;
}

.omstridt-color {
  background-color: rgb(237, 219, 244);
}

.navds-help-text {
  display: inline-block !important;
  vertical-align: text-top;
  margin-left: 1px;
}

.searchform {
  width: 100%;
}

/* #språkhjelp-back-to-top { */
#språkhjelp-back-to-top {
  z-index: 999;
  position: fixed;
  bottom: 25px;
  right: 25px;
  border-radius: 100px;
  background: #262626;
  border: 1px solid #fff;
}

#språkhjelp-back-to-top:hover {
  background: #000;
}

.navdsi-header__title {
  padding-left: 10px !important;
}
